baseURL: "http://localhost:1313/"
languageCode: "en-us"
title: "Felix C. Programs"
theme: hugo-profile

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

pagination:
  pagerSize: 3

enableRobotsTXT: true

#services:
#googleAnalytics:
#id: G-MEASUREMENT_ID
#disqus:
#shortname: your-disqus-shortname

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: blog
      name: Blog
      title: Blog posts
      url: /blogs
      weight: 1
    # - identifier: gallery
    #   name: Gallery
    #   title: Blog posts
    #   url: /gallery
    #   weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Hugo Profile"
  description: Text about my cool site
  # staticPath: ""  # The path to serve the static files from
  favicon: "/fav.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether to add mathjax support on all pages. Alternatively, you can opt-in per page by adding `mathjax: true` in the frontmatter.
  mathjax: false

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # When using hex codes for colors, quotations must be used along with the # sign
  # color:
  #   textColor: "#343a40"
  #   secondaryTextColor: "#6c757d"
  #   textLinkColor: "#007bff"
  #   backgroundColor: "#eaedf0"
  #   secondaryBackgroundColor: "#64ffda1a"
  #   primaryColor: "#007bff"
  #   secondaryColor: "#f8f9fa"

  #   darkmode:
  #     textColor: "#e4e6eb"
  #     secondaryTextColor: "#b0b3b8"
  #     textLinkColor: "#ffffff"
  #     backgroundColor: "#18191a"
  #     secondaryBackgroundColor: "#212529"
  #     primaryColor: "#ffffff"
  #     secondaryColor: "#212529"

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "Felix Caron Pare" # Brand name for the brand | default is the title variable
    disableSearch: true
    # searchPlaceholder: "Search"
    stickyNavBar:
      enable: true
      showOnScrollUp: true
    enableSeparator: true
    menus:
      disableAbout: false
      disableExperience: false
      disableProjects: false
      disableEducation: false
      disableAchievements: true
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Felix"
    subtitle: "I build tech and I love it"
    content: "DevOps, Web development, cloud-native infrastructure, AI/MLOps, etc. -- If I'm engaged in complicated challenges involving modern technologies, I'm in my comfort zone. Open for work opportunities -- feel free to reach out on [LinkedIn](https://www.linkedin.com/in/felixcaronpare/)."
    image: /images/hero_pic.jpg
    bottomImage:
      enable: false
      roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "#"
      download: true
      newPage: false
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/felixcaronpare
        - icon: fab fa-linkedin
          url: https://www.linkedin.com/in/felixcaronpare/
        - icon: fab fa-medium-m
          url: https://medium.com/@felix.cp0
      # customIcons:
      #   - icon: /fav.png
      #     url: "https://example.com"

  # About
  about:
    enable: true
    title: "About Me"
    image: "/images/aboutme_pic.jpg"
    content: |-
      I am a software engineer currently open for work opportunities and project collaborations. I have been doing a lot of AI/ML oriented work recently, but I love everything that is web development related (or even game development).
      <br>
      <br>
    skills:
      enable: true
      title: "Here are a few of the technologies that I have enjoyed working with recently:"
      items:
        - "**Cloud infrastructure**: Docker, Kubernetes, Terraform, AWS, Azure"
        - "**AI/MLOps**: Python, Azure ML, Tensorflow, MLflow"
        - "**Frontend** : React, Vue, Typescript, Django/Python"
        - "**Backend** : Node.JS, Golang, gRPC/protocol buffers"

  # Experience
  experience:
    enable: true
    title: "Experience"
    items:
      - job: "Quebec Ministry of Transports (MTQ)"
        company: "MLOps Engineer"
        companyUrl: ""
        date: "2024 - present"
        featuredLink:
          enable: false
          name: "View the project"
          url: "https://example.com"
        info:
          enable: false
        content: "Developing, training, deploying and maintaining AI models, applications and APIs for the business needs of the organisation (Python, various ML models, HuggingFace, Azure, Azure ML, Kubernetes). Building the CI/CD pipelines of our AI products (Azure, Git, Github, Docker)."

      - job: "SWE"
        company: "Freelance Web Developer"
        companyUrl: ""
        date: "2023 - present"
        featuredLink:
          enable: false
          name: "View the project"
          url: "https://example.com"
        content: |-
          Developping websites and web applications as a solo freelance full stack developer:
          - Developed a website for [VitaeComptabilite](vitaecomptabilite.com), an accounting business aimed towards serving a customer base of healthcare professionals.

      - job: "MTQ"
        company: "Full stack engineer"
        companyUrl: ""
        date: "2022 - 2024"
        featuredLink:
          enable: false
          name: "View the project"
          url: "https://example.com"
        info:
          enable: false
        content: |- 
          Developed full stack web applications for generative AI internal projects using Python, Django, Bootstrap, PostgreSQL and Azure AI/ML services.
          - Developed the frontend and backend of an internal gen AI application used by HR to generate Job Posting forms, increasing the efficiency of the job posting proccess by several orders of magnitude.
          - Developed an internal Python/AzureML application that uses visual AI (OCR) and REGEX to identify and redact protected personal information in PDFs, Words and scanned documents.

      - job: "Stantec Ltd., MTQ"
        company: "Bridge Engineer"
        companyUrl: "https://example.com"
        date: "2016 - 2022"
        featuredLink:
          enable: false
          name: "View the project"
          url: "https://example.com"
        content: |-
          I worked in bridge engineering for 2 years at Stantec Ltd. (Jr. Eng.) and 5 years at the Quebec Ministry of Transports, where I first became intereted in building software to solve complicated engineering problems :
          - Co-Developed a Python data visualition tool for the corrosion of the Pierre-Laporte Bridge (longest suspension bridge in Canada) main cables.
          - Programmed engineering worksheets to compute the load bearing capacity of over 15 crutical bridges.
          - Worked as a site supervising junior engineer on one of the largest canadian infrastructure projects ever -- the construction of the New Champlain Bridge.

  # projects
  projects:
    enable: true
    # title: "Personal Projects"
    items:
      - title: Ugram.uk
        content: An AWS hosted single-page application similar to instagram built with modern industry standard technologies
        image: /images/ugram/UGram1.4501738010288294de1a.png
        url: "http://placeholder.com"
        # featured:
        #   name: Demo
        #   link: https://hugo-profile.netlify.app
        badges:
          - "Full stack"
          - "Backend"
          - "Frontend"
          - "Web Development"
          - "React"
          - "Typescript"
          - "NodeJS"
          - "PostgreSQL"
          - "AWS"
          - "Docker"
          - "Github Actions"
        # links:

      - title: Ufood
        content: A web application made to search and review restaurants, built with a Vue frontend and a RESTful API on top of an existing backend and implementing google map embeds.
        image: /images/ufood/UFood1.89dd8bfdcf1ebb3f0baa.png
        url: "/projects/ufood"
        featured:
          name: View the source code
          link: https://github.com/felixcaronpare/Ufood
        badges:
          - "Frontend"
          - "Web Development"
          - "Javascript"
          - "VueJS"
          - "HTML/CSS"
          - "Google Maps Javascript API"
        links:
          - icon: fab fa-github
            url: https://github.com/felixcaronpare/Ufood

      - title: Vitae Accounting Website
        content: A website built for the accounting company "placeholder" with React, Typescript and Tailwind.
        image: /images/landscape-placeholder.svg
        url: "http://localhost:1313/projects/vitae/"
        featured:
          name: View website
          link: placeholder
        badges:
          - "Frontend"
          - "Web Development"
          - "Freelance"
          - "Typecript"
          - "React"
          - "Tailwind"

      - title: UE5 multiplayer RPG
        content: An Unreal Engine 5 multiplayer project with AWS hosted server-side microservice architecture written in Golang and Postgres databases. Uses gRPC/protocol buffers as communication protocol for optimization.
        image: /images/blogs/multiplayer-netcode/ht-architecture.jpg
        url: "http://localhost:1313/projects/ht/"
        badges:
          - "Backend"
          - "Netcode"
          - "Game Development"
          - "UE5"
          - "Golang"
          - "PostgreSQL"
          - "gRPC"
          - "Protobufs"
          - "AWS"
          - "Docker"
          - "Kubernetes"
          - "Agones"
        # links:

  # Achievements
  achievements:
    enable: true
    # title: "Custom Name"
    items:
      - title: Google kickstart runner
        content: I solved all problems with optimal solution.
        url: https://example.com
        image: /images/achievment.jpg
      - title: Facebook Hackathon Winner
        content: Developed a product using Artificial Intelligence.
        image: /images/achievment.jpg
      - title: Hugo Profile
        content: Developed a theme and getting 1K+ downloads per month.
        url: "https://github.com/gurusabarish/hugo-profile"
        image: /images/achievment.jpg
      - title: Microsoft Imagine Runner
        content: We are developed a product which can help others.
      - title: Google Summer of Code
        content: Contributed to a open source project.
        url: https://example.com

  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "University Certificate in Computer Science and Software Engineering"
        school:
          name: "Laval University, QC, Canada"
        date: "2024"
        GPA: "3.93/4.33"
      - title: "Bachelor of science in civil engineering"
        school:
          name: "Laval University, QC, Canada"
        date: "2016"

  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    content: Feel free to click below to mail me, or reach out on [LinkedIn](https://www.linkedin.com/in/felixcaronpare/).
    btnName: Mail me
    btnLink: mailto:felix.cp0@gmail.com
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"
    #   messageRows: 5

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: true
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/felixcaronpare
      linkedin: https://www.linkedin.com/in/felixcaronpare/

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    socialShare: true
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true
    tags:
      openInNewTab: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"

  #customScripts: -| # You can add custom scripts which will be added before </body> tag
  #  <script type="text/javascript"><!-- any script here --></script>
